h1 {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeInUp 2s ease forwards;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
  }

  @keyframes fadeInUp {
    to {
      opacity: 2;
      transform: translateY(90);
      transform: translateX(0);
    }
  }